NODE_ENV=production
PORT=3002

SMTP_HOST=vps.halivagyok.hu
SMTP_PORT=587
SMTP_USER=admin@projectbello.hu
SMTP_PASS=akcz^!PiX2Id0@28Oj
SMTP_FROM='"Bello" <noreply@projectbello.hu>'

FRONTEND_URL=https://projectbello.hu
